<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sinri@GitHub</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/iview/dist/styles/iview.css"/>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/marked"></script>
    <script type="text/javascript" src="https://unpkg.com/iview/dist/iview.min.js"></script>
    
    <script src="https://unpkg.com/highlight.js@9.12.0/lib/highlight.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlight.js@9.12.0/styles/github.css"/>

    <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@2.10.0/github-markdown.css">

    <!-- SHARE THIS -->
    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5ba49ac76f1b010011c460ff&product=inline-share-buttons"></script>
    <style>
    a.menu_item{
        margin:5px;
    }
    a.menu_item:link    {color:#515a6e;}
    a.menu_item:visited {color:blue;}
    a.menu_item:hover   {color:#515a6e;text-decoration: underline;}
    a.menu_item:active  {color:yellow;}
    </style>
</head>
<body>
<div id="app">
    <!-- <Affix> -->
        <row style="width:100%;height: 51px;border-bottom: 1px solid gray;background: white;position: fixed;top:0;z-index: 10;">
            <template v-if="isMobile()">
                <i-col span="16">
                    <div style="padding-left: 10px">
                            <!-- v-if="isMobile()" -->
                        <i-button type="info" icon="md-book" @click="mobileMenuSwitch()" style="margin-top: -12px;padding-left: 10px;padding-right: 10px;"></i-button>
                        <Avatar style="margin-top: -12px;" :src="avatar"></Avatar>
                        <h1 style="line-height: 50px;display: inline">Sinri@GitHub</h1>
                    </div>
                </i-col>
            </template>
            <template v-else>
                <i-col span="3">
                    <div style="padding-left: 10px;line-height: 50px;">
                        <i-button type="info" icon="md-book" @click="mobileMenuSwitch()" style="padding-left: 10px;padding-right: 10px;"></i-button>
                    </div>
                </i-col>
                <i-col span="18">
                    <div style="padding-left: 10px;text-align: center">
                            <!-- v-if="isMobile()" -->
                        <Avatar style="margin-top: -12px;" :src="avatar"></Avatar>
                        <h1 style="line-height: 50px;display: inline">Sinri@GitHub</h1>
                    </div>
                </i-col>
            </template>
            <i-col span="3">
                <div class="sharethis-inline-share-buttons" style="padding-right: 10px;margin-top:10px;"></div>
            </i-col>
        </row>
    <!-- </Affix> -->
    <div style="margin-top:50px;">
    <template  v-if="isMobile()">
        <!-- <Affix :offset-top="50" >
            <row type="flex" justify="space-between" style="padding: 20px;background: white;border-bottom: 1px solid gray">
                <i-col span="12">
                    <h2 style="display: inline">Menu</h2>
                </i-col>
                <i-col span="12" style="text-align: right">
                    <i-button type="default" icon="md-book" @click="mobileMenuSwitch()"></i-button>
                </i-col>
            </row>
        </Affix> -->
        <Modal title="Menu" footer-hide mask-closable v-model="isMobileMenuOpen">
                <!-- v-if="isMobileMenuOpen" -->
            <div style="width:100%;height: 60vh;overflow: auto;" >
                <i-menu accordion width="auto" style="z-index: auto;">
                        <!-- @on-select="openMenuItemAsMarkdown" -->
                    <template v-for="(menu_item,menu_item_index) in menu">
                        <template v-if="menu_item.type==='markdown'">
                            <menu-item :name="menu_item.link">{{menu_item.title}}</menu-item>
                        </template>
                        <Submenu v-else-if="menu_item.type==='folder'" :name="menu_item_index" style="z-index: auto;">
                            <template slot="title">
                                {{menu_item.title}}
                            </template>
                            <template v-for="menu_item_inside in menu_item.pages">
                                <menu-item v-if="menu_item_inside.type==='markdown'" :name="menu_item_inside.link" style="z-index: auto;">{{menu_item_inside.title}}</menu-item>
                            </template>
                        </Submenu>
                        <template v-else>
                            <menu-item :name="menu_item.link">{{menu_item.title}}</menu-item>
                        </template>
                    </template>
                </i-menu>
            </div>
        </Modal>
        <row>
            <i-col span="24">
                <div :style="{margin: '24px 0',padding: '24px', minHeight: '70vh', background: '#fff'}">
                    <div class="markdown-body" v-html="compiledMarkdown" v-highlight></div>
                </div>
            </i-col>
        </row>
    </template>
    <row v-else>
        <Drawer title="Menu" placement="left" :closable="false" v-model="isMobileMenuOpen" scrollable>
            <div>
                <ul style="margin-left:20px;">
                    <li v-for="(menu_item,menu_item_index) in menu" :key="menu_item_index">
                        <template v-if="menu_item.type==='markdown'">
                            <!-- <i-button type="text" @click="openMenuItemAsMarkdown(menu_item.link)">{{menu_item.title}}</i-button> -->
                            <a class="menu_item" href="javascript:void(0)" v-on:click="openMenuItemAsMarkdown(menu_item.link)">{{menu_item.title}}</a>
                        </template>
                        <template v-else-if="menu_item.type==='folder'">
                            <div>
                                <!-- <i-button type="text" @click="switchFolder(menu_item_index)">{{menu_item.title}}</i-button> -->
                                <a class="menu_item" href="javascript:void(0)" v-on:click="switchFolder(menu_item_index)">{{menu_item.title}}</a>
                            </div>
                            <ul v-show="folder_switch[menu_item_index]" style="margin-left:20px;">
                                <li v-for="menu_item_inside in menu_item.pages">
                                    <template v-if="menu_item_inside.type==='markdown'">
                                        <!-- <i-button type="text" @click="openMenuItemAsMarkdown(menu_item_inside.link)">{{menu_item_inside.title}}</i-button> -->
                                        <a class="menu_item" href="javascript:void(0)" v-on:click="openMenuItemAsMarkdown(menu_item_inside.link)">{{menu_item_inside.title}}</a>
                                    </template>
                                </li>
                            </ul>
                        </template>
                        <template v-else>
                            <!-- <i-button type="text" >{{menu_item.title}}</i-button> -->
                            <a class="menu_item" href="javascript:void(0)">{{menu_item.title}}</a>
                        </template>
                    </li>
                </ul>
            </div>   
        </Drawer>
        <i-col span="24">
            <div :style="{margin: '24px 0',padding: '50px', minHeight: '70vh', background: '#fff'}">
                <div class="markdown-body" v-html="compiledMarkdown" v-highlight></div>
            </div>
        </i-col>
    </row>
    </div>
    <!-- <Affix :offset-bottom="0"> -->
    <div style="height: 40px;width:100%;z-index: 10;position: fixed;bottom:0;background:white;border-top: 1px solid lightgray;">
        <div style="line-height:30px;text-align: center">{{site_declaration}}</div>
    </div>
    <!-- </Affix> -->
</div>
<script>
    Vue.directive('highlight', function (el) {
        let blocks = el.querySelectorAll('pre code');
        blocks.forEach((block) => {
            hljs.highlightBlock(block)
        })
    });
    new Vue({
        el: '#app',
        data: {
            avatar:'',
            site_title:'',
            site_declaration:'',
            menu:[],
            folder_switch:[],
            markdownContent:'',
            isMobileMenuOpen:false,
        },
        computed: {
            compiledMarkdown: function () {
                return marked(this.markdownContent, {sanitize: false})
            }
        },
        methods: {
            loadMenu:function(){
                axios.get('./meta.json')
                .then(response=>{
                    console.log(response);
                    if(response.status===200){
                        this.menu=response.data.menu;
                        this.folder_switch=[];
                        for(let i=0;i<this.menu.length;i++){
                            if(this.menu[i].type==='folder'){
                                this.folder_switch[i]=false;
                            }else{
                                this.folder_switch[i]=true;
                            }
                        }
                        this.avatar=response.data.avatar;
                        this.site_title=response.data.site_title;
                        this.site_declaration=response.data.site_declaration;
                    }else{
                        alert("Failed to load menu!");
                    }
                })
                .catch((error) => {
                    alert("Failed to call menu data!");
                });
            },
            openMenuItemAsMarkdown:function(link){
                axios.get('./data/'+link)
                .then(response=>{
                    console.log(response);
                    if(response.status===200){
                        this.markdownContent=response.data;

                        window.history.pushState({},0,"./index.html?openPageLink="+encodeURIComponent(link));

                        this.isMobileMenuOpen=false;
                    }else{
                        alert("Failed to call page!");
                    }
                })
                .catch((error) => {
                    this.markdownContent = "# Target Not Found\n\n"+error+"\n\nTarget: '"+link+"'";
                });
            },
            switchFolder:function(menu_item_index){
                console.log("switchFolder",menu_item_index,this.folder_switch[menu_item_index]);
                Vue.set(this.folder_switch,menu_item_index, !this.folder_switch[menu_item_index]);
                //this.folder_switch[menu_item_index]=!this.folder_switch[menu_item_index];
            },
            isMobile:function(){
                //detection PC and Mobile 
                if(!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/) && !!navigator.userAgent.match(/AppleWebKit/)){ 
                    //document.writeln('Browser:'+'Mobile Browser'+'<hr>'); 
                    return true;
                }else { 
                    //document.writeln('Browser:'+'Desktop Browser'+'<hr>'); 
                    return false;
                }
            },
            mobileMenuSwitch:function(){
                this.isMobileMenuOpen=!this.isMobileMenuOpen;
            }
        },
        mounted() {
            this.loadMenu();
            this.openMenuItemAsMarkdown('welcome.md');

            console.log("isMobile",this.isMobile());

            console.log('window.location.search',window.location.search);
            if(window.location.search.startsWith("?")){
                let queryString=window.location.search.substring(1);
                if(queryString.length>0){
                    let queries={};
                    queryString.split("&").forEach((entry)=>{
                        let pair=entry.split("=");
                        queries[pair[0]]=pair[1];
                    })
                    console.log('queries',queries);

                    if(queries.openPageLink){
                        this.openMenuItemAsMarkdown(decodeURIComponent(queries.openPageLink));
                    }
                }
            }
        },
    })
  </script>
</body>
</html>