<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sinri@GitHub</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/marked"></script>
    <script type="text/javascript" src="https://unpkg.com/iview/dist/iview.min.js"></script>

    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css"/>
    <style>
    a.menu_item{
        margin:5px;
    }
    a.menu_item:link    {color:#515a6e;}
    a.menu_item:visited {color:blue;}
    a.menu_item:hover   {color:#515a6e;text-decoration: underline;}
    a.menu_item:active  {color:yellow;}
    </style>
</head>
<body>
<div id="app">
    <Affix>
        <row style="height: 50px;border-bottom: 1px solid gray;background: white">
            <i-col span="24">
                <div style="padding-left: 10px">
                    <Avatar style="margin-top: -12px;" :src="avatar"></Avatar>
                    <h1 style="line-height: 50px;display: inline">Sinri@GitHub</h1>
                </div>
            </i-col>
        </row>
    </Affix>
    <row>
        <i-col span="4">
            <Affix :offset-top="50" >
                <div style="margin:5px 20px 5px 10px;padding: 5px;border:1px solid lightgray;border-radius: 5px;overflow-y: auto;height: 70vh">
                    <div>
                        <h2>Menu</h2>        
                    </div>
                    <div>
                        <ul style="margin-left:20px;">
                            <li v-for="(menu_item,menu_item_index) in menu" :key="menu_item_index">
                                <template v-if="menu_item.type==='markdown'">
                                    <!-- <i-button type="text" @click="openMenuItemAsMarkdown(menu_item.link)">{{menu_item.title}}</i-button> -->
                                    <a class="menu_item" href="javascript:void(0)" v-on:click="openMenuItemAsMarkdown(menu_item.link)">{{menu_item.title}}</a>
                                </template>
                                <template v-else-if="menu_item.type==='folder'">
                                    <div>
                                        <!-- <i-button type="text" @click="switchFolder(menu_item_index)">{{menu_item.title}}</i-button> -->
                                        <a class="menu_item" href="javascript:void(0)" v-on:click="switchFolder(menu_item_index)">{{menu_item.title}}</a>
                                    </div>
                                    <ul v-show="folder_switch[menu_item_index]" style="margin-left:20px;">
                                        <li v-for="menu_item_inside in menu_item.pages">
                                            <template v-if="menu_item_inside.type==='markdown'">
                                                <!-- <i-button type="text" @click="openMenuItemAsMarkdown(menu_item_inside.link)">{{menu_item_inside.title}}</i-button> -->
                                                <a class="menu_item" href="javascript:void(0)" v-on:click="openMenuItemAsMarkdown(menu_item_inside.link)">{{menu_item_inside.title}}</a>
                                            </template>
                                        </li>
                                    </ul>
                                </template>
                                <template v-else>
                                    <!-- <i-button type="text" >{{menu_item.title}}</i-button> -->
                                    <a class="menu_item" href="javascript:void(0)">{{menu_item.title}}</a>
                                </template>
                            </li>
                        </ul>
                    </div>   
                </div>
            </Affix>
        </i-col>
        <i-col span="20">
            <div :style="{margin: '24px 0',padding: '24px', minHeight: '70vh', background: '#fff'}">
                <div id="markdown" class="markdown-body" v-html="compiledMarkdown" v-highlight></div>
            </div>
        </i-col>
    </row>
    <Affix :offset-bottom="0">
        <div style="height: 40px;line-height:30px;background:white;border-top: 1px solid lightgray;text-align: center">{{site_declaration}}</div>
    </Affix>
</div>
<script>
    Vue.directive('highlight', function (el) {
        let blocks = el.querySelectorAll('pre code');
        blocks.forEach((block) => {
            hljs.highlightBlock(block)
        })
    });
    new Vue({
        el: '#app',
        data: {
            avatar:'',
            site_title:'',
            site_declaration:'',
            menu:[],
            folder_switch:[],
            markdownContent:''
        },
        computed: {
            compiledMarkdown: function () {
                return marked(this.markdownContent, {sanitize: false})
            }
        },
        methods: {
            loadMenu:function(){
                axios.get('./meta.json')
                .then(response=>{
                    console.log(response);
                    if(response.status===200){
                        this.menu=response.data.menu;
                        this.folder_switch=[];
                        for(let i=0;i<this.menu.length;i++){
                            if(this.menu[i].type==='folder'){
                                this.folder_switch[i]=false;
                            }else{
                                this.folder_switch[i]=true;
                            }
                        }
                        this.avatar=response.data.avatar;
                        this.site_title=response.data.site_title;
                        this.site_declaration=response.data.site_declaration;
                    }else{
                        alert("Failed to load menu!");
                    }
                })
                .catch((error) => {
                    alert("Failed to call menu data!");
                });
            },
            openMenuItemAsMarkdown:function(link){
                axios.get('./data/'+link)
                .then(response=>{
                    console.log(response);
                    if(response.status===200){
                        this.markdownContent=response.data;
                    }else{
                        alert("Failed to call page!");
                    }
                })
                .catch((error) => {
                    this.markdownContent = "# Target Not Found\n\n"+error+"\n\nTarget: '"+link+"'";
                });
            },
            switchFolder:function(menu_item_index){
                console.log("switchFolder",menu_item_index,this.folder_switch[menu_item_index]);
                Vue.set(this.folder_switch,menu_item_index, !this.folder_switch[menu_item_index]);
                //this.folder_switch[menu_item_index]=!this.folder_switch[menu_item_index];
            }
        },
        mounted() {
            this.loadMenu();
            this.openMenuItemAsMarkdown('welcome.md');
        },
    })
  </script>
</body>
</html>